{% extends "blog/master.html" %}

{% block title %}Our Blog{% endblock %}

{% block content %}
   <h2 class="page-header">Recents Posts</h2>
   <hr/>
   <form method="GET" action="">
    <div class="input-group">
        <input type="text" name="q" placeholder="Search Post" values ="{{ request.GET.q}}"/>
        <input type="submit" value="Search"/>
    </div>
</form>

    {% for post in object_list %}
       <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <p class="small">Published {{ post.publish }} by {{ post.author }}</p>
        <p>{{ post.body|truncatewords:25|linebreaks }}</p>
        <hr/>
    {% endfor %}

    <a href="{% url "mainsite:home" %}">go to main page</a>
        {% include "pagination.html" with page=posts %}
    </div>
    <!-- this section for facebook commenting  https://developers.facebook.com/docs/plugins/comments/-->
    <div id="fb-root"></div>
{% endblock %}



<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
