{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Meestavis |{% block title %}{% endblock %}</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %} " rel="stylesheet" type="text/css">
    
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    
    <!-- jQuery and Modernizr-->
    <script src="{% static "js/jquery-2.1.1.js" %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
<body>
	{% block top %}
	<!--Top-->
	<div id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-6">
					<ul class="list-inline top-link link">
						<li><i class="fa fa-map-marker"></i> 9876 Canada THK, Greenlade, CA</li>
						<li><a href="contact.html"><i class="fa fa-phone"></i> 123 456 7890</a></li>
						<li><i class="fa fa-clock-o"></i> Mo-Fr 11:00-00:00, Sa-Sa 15:00-00:00</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<ul class="list-inline top-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-6">
					<ul class="list-inline top-link link">
						
					</ul>
				</div>

				<div class="col-md-3 col-sm-7">
					<ul class="list-inline top-social">
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	
		<header>{% block header %}
		
		<div class="container text-center">
			<a class="site-branding" href="{% url "mainsite:home" %}">
				<h1 class="site-title">
					Meestavis Enterprise
				</h1>
				<p class="site-description">
					Evergreen Quality
				</p>
			</a><!-- .site-branding -->
		</div>
		
		<!--Navigation-->
		<nav id="menu" class="navbar">
			<div class="container">
				<div class="navbar-header">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
					</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url "mainsite:home" %}">Home</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <i class="fa fa-chevron-down"></i></a>
							<div class="dropdown-menu">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li><a href="#">Login</a></li>
										<li><a href="#">Register</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <i class="fa fa-chevron-down"></i></a>
							<div class="dropdown-menu" style="margin-left: -203.625px;">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li><a href="{% url "mainsite:archive" %}">Text 301</a></li>
										<li><a href="{% url "mainsite:archive" %}">Text 302</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="{% url "mainsite:archive" %}">Text 303</a></li>
										<li><a href="{% url "mainsite:archive" %}">Text 304</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="{% url "mainsite:archive" %}">Text 306</a></li>
										<li><a href="{% url "mainsite:archive" %}">Text 307</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="{% url "blog:post_list_view"%}">Blog</a></li>
						<li><a href="{% url "mainsite:contact" %}">contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- CAROUSEL -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
				<li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
			</ol>
		 
			<!-- Wrapper for slides -->

			<div class="carousel-inner">
				<div class="item active left">
					<img src="{% static "images/meestavis5.jpg" %}" alt="..." height="50"> 
					<!-- Static Header -->
					<!-- <div class="header-text text-center">
						<div class="col-md-12 ">
							<span>So Yummy it will Melt Your Heart</span>
							<h1>CHOCOLATE CAKES AND CANDIES</h1>
							<p>A place where food and coziness compliment each other.<br>Call (999)123-4567</p>
							<a href="#" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
						</div>
					</div> --><!-- /header-text -->
				</div>
				<div class="item next left">
					<img src="{% static "images/meestavis2.jpg" %}" alt="..." height="50">
					<!-- Static Header -->
					<!-- <div class="header-text text-center">
						<div class="col-md-12 ">
							<span>So Yummy it will Melt Your Heart</span>
							<h1>CHOCOLATE CAKES AND CANDIES</h1>
							<p>A place where food and coziness compliment each other.<br>Call (999)123-4567</p>
							<a href="#" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
						</div>
					</div> --><!-- /header-text -->
				</div>
			</div>
		 
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		 <!-- END Carousel -->
		
	</header>
	{% endblock %}
	{% block anotherdiv %}
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
						<em class="intro">Welcome to the</em>
						<h2>Meestavis Enterprise</h2>
					</div>
				</div>
				<div>
					<p class="text">We are absolutely confident that considering all the fuzz and the chaos in our modern lives, there simply must be some place where a man can go to, sit for a nice small talk with other men, drink a glass of fine whiskey and while doing that also get their facial and head hair taken care of.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="statics/images/5.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/6.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/7.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/8.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/9.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/10.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2">
			<div class="container">
				<div class="row">
					<ul class="list-inline slides-times">
						<li class="li-time">
							<div class="ds_day"> Mon </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Tue </div>
							<div class="ds_whours"> 10:00-16:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Wed </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Thu </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Fri </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time ds_close">
							<div class="ds_day"> Sat </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time ds_close">
							<div class="ds_day"> Sun </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 03  PROBABLY FOR BLOG POSTS--><!-- 
		<section class="box-content box-3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/1.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches &amp; Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/2.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches &amp; Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/3.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches &amp; Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/4.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches &amp; Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div> -->
						</article>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 04 -->
		<section>
			<div class="container">
				<div class="row">
					<center> <h4>Patronise our services </h4></center>
						<blockquote>
							<p>We deal in Vocational Training and empowerment, Soap
							production, insectcide and Shoes
							</p>
						</blockquote>
						</div>
					</div>
		</section>
		
		<!-- ////////////Content Box 05 -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="heading">
							<h4>TOPICS</h4>
							<div>
								<ul>
									{% for post in posts %}
									<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="heading">
							<div class="intro">Updates </div>
								<h2>Check Our Top Prices</h2>
							</div>
							<div class="prices-section">
								<ul class="price-ul clearfix">
									<li class="price-list">
										<div class="price-title"> Insecticide </div>
										<div class="price-right"> from $1 </div>
									</li>
									<li class="price-list">
										<div class="price-title">shoes as low as  </div>
										<div class="price-right"> from $2 </div>
									</li>
									<li class="price-list">
										<div class="price-title"> Qaulity Soaps</div>
										<div class="price-right"> from $0.5 </div>
									</li>
									<li class="price-list">
										<div class="price-title"> Air freshners </div>
										<div class="price-right"> from $1 </div>
									</li>
									<li class="price-list">
										<div class="price-title"> Washing Soap </div>
										<div class="price-right"> from $0.5 </div>
									</li>
									<li class="price-list">
										<div class="price-title"> Dish Soaps</div>
										<div class="price-right"> from $0.5 </div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</section>
		
	</div>
	{% endblock %}
	{% block footer %}
	<footer>
		
		<div class="wrap-footer">
			<div class="container">
				<div class="row"> 
					<div class="col-footer footer-1 col-md-3">
						<h2 class="footer-title">About Us</h2>
						<div class="footer-content">
							You can contact us with the following details below <br> <br> 
							<i class="fa fa-phone"> </i> (+234) 41 99 41 47  <br> 
							<i class="fa fa-envelope"> </i> afeezalabi45@gmail.com  <br>
							<i class="fa fa-home"> </i> meestavis.com
						</div>
					</div> 
					<div class="col-footer footer-2 col-md-3">
						<h2 class="footer-title">Recent Posts</h2>
						<div class="footer-content">
							<ul>
								{% for post in posts %}
								<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-footer footer-3 col-md-3">
						<h2 class="footer-title">OUR FLICKR</h2>
						<div class="footer-content">
							<div class="row">
								<div class="col-md-4 nopadding">
									<a href="#"><img src="{% static "images/me1.jpg" %} "></a>
									<a href="#"><img src="{% static "images/me2.jpg" %} "></a>
									<a href="#"><img src="{% static "images/me4.jpg" %} "></a>
								</div>
								<div class="col-md-4 nopadding">
									<a href="#"><img src="{% static "images/me3.jpg" %} "></a>
									<a href="#"><img src="{% static "images/me4.jpg" %} "></a>
									<a href="#"><img src="{% static "images/me5.jpg" %} "></a>
								</div>
								<div class="col-md-4 nopadding">
									<a href="#"><img src="{% static "images/me6.jpg" %} "></a>
									<a href="#"><img src="{% static "images/me7.jpg" %} "></a>
									<a href="#"><img src="{% static "images/me8.jpg" %} "></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-footer footer-4 col-md-3">
						<h2 class="footer-title">Tag Cloud</h2>
						<div class="footer-content">
							<ul class="opening-times clearfix">
								<li>
									<span class="day"> Monday </span>
									<span class="time"> 08:00 - 15:00 </span>
								</li>
								<li>
									<span class="day"> Tuesday </span>
									<span class="time"> 10:00 - 16:00 </span>
								</li>
								<li>
									<span class="day"> Wednesday </span>
									<span class="time"> 08:00 - 15:00 </span>
								</li>
								<li>
									<span class="day"> Thursday </span>
									<span class="time"> 08:00 - 18:00 </span>
								</li>
								<li>
									<span class="day"> Friday </span>
									<span class="time"> 07:00 - 19:00 </span>
								</li>
								<li>
									<span class="day"> Saturday </span>
									<span class="time"> Closed </span>
								</li>
								<li>
									<span class="day"> Sunday </span>
									<span class="time"> Closed </span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="container">
				<div class="copyright text-center">
					<span>Copyright @ 20xx - Designed by <a href="https://tijani.pythonanywhere.com">Tjtech</a></span>
				</div>
			</div>
		</div> 
	</footer>
	{% endblock %}


    <!-- JS -->


    <script src="{% static "js/bootstrap.min.js"%}"></script>
    
</body>
</html>
