<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="https://www.Zerotheme.com">
	
    <title>Whisker | Free Bootstrap Chocolate Templates</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--Top-->
	<div id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-6">
					<ul class="list-inline top-link link">
						<li><i class="fa fa-map-marker"></i> 9876 Canada THK, Greenlade, CA</li>
						<li><a href="contact.html"><i class="fa fa-phone"></i> 123 456 7890</a></li>
						<li><i class="fa fa-clock-o"></i> Mo-Fr 11:00-00:00, Sa-Sa 15:00-00:00</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<ul class="list-inline top-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<header>
		
		<div class="container text-center">
			<a class="site-branding" href="index.html">
				<h1 class="site-title">
					Whisker
				</h1>
				<p class="site-description">
					Vestibulum posuere molestie
				</p>
			</a><!-- .site-branding -->
		</div>
		
		<!--Navigation-->
		<nav id="menu" class="navbar">
			<div class="container">
				<div class="navbar-header">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
					</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Home</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <i class="fa fa-chevron-down"></i></a>
							<div class="dropdown-menu">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li><a href="#">Login</a></li>
										<li><a href="#">Register</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <i class="fa fa-chevron-down"></i></a>
							<div class="dropdown-menu" style="margin-left: -203.625px;">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 301</a></li>
										<li><a href="archive.html">Text 302</a></li>
										<li><a href="archive.html">Text 303</a></li>
										<li><a href="archive.html">Text 304</a></li>
										<li><a href="archive.html">Text 305</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 306</a></li>
										<li><a href="archive.html">Text 307</a></li>
										<li><a href="archive.html">Text 308</a></li>
										<li><a href="archive.html">Text 309</a></li>
										<li><a href="archive.html">Text 310</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 311</a></li>
										<li><a href="archive.html">Text 312</a></li>
										<li><a href="archive.html#">Text 313</a></li>
										<li><a href="archive.html#">Text 314</a></li>
										<li><a href="archive.html">Text 315</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="archive.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- CAROUSEL -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			</ol>
		 
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/showcase_bg.jpg" alt="...">
					<!-- Static Header -->
					<div class="header-text text-center">
						<div class="col-md-12 ">
							<span>So Yummy it will Melt Your Heart</span>
							<h1>CHOCOLATE CAKES AND CANDIES</h1>
							<p>A place where food and coziness compliment each other.<br>Call (999)123-4567</p>
							<a href="#" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
						</div>
					</div><!-- /header-text -->
				</div>
				<div class="item">
					<img src="images/showcase_bg_2.jpg" alt="...">
					<!-- Static Header -->
					<div class="header-text text-center">
						<div class="col-md-12 ">
							<span>So Yummy it will Melt Your Heart</span>
							<h1>CHOCOLATE CAKES AND CANDIES</h1>
							<p>A place where food and coziness compliment each other.<br>Call (999)123-4567</p>
							<a href="#" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
						</div>
					</div><!-- /header-text -->
				</div>
			</div>
		 
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div> <!-- Carousel -->
		
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
						<em class="intro">Welcome to the</em>
						<h2>Barbershop</h2>
					</div>
				</div>
				<p class="text">We are absolutely confident that considering all the fuzz and the chaos in our modern lives, there simply must be some place where a man can go to, sit for a nice small talk with other men, drink a glass of fine whiskey and while doing that also get their facial and head hair taken care of.</p>
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/5.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/6.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/7.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/8.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/9.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="single.html">
							<img src="images/10.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2">
			<div class="container">
				<div class="row">
					<ul class="list-inline slides-times">
						<li class="li-time">
							<div class="ds_day"> Mon </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Tue </div>
							<div class="ds_whours"> 10:00-16:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Wed </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Thu </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time">
							<div class="ds_day"> Fri </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time ds_close">
							<div class="ds_day"> Sat </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
						<li class="li-time ds_close">
							<div class="ds_day"> Sun </div>
							<div class="ds_whours"> 08:00-15:00 </div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 03 -->
		<section class="box-content box-3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/1.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches & Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/2.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches & Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/3.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches & Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-lg-3 col-sm-6 nopadding">
						<article class="home-post">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box rotate-effect" href="single.html">
										<img src="images/4.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Growing Mustaches & Beard to Age Gracefully</a>
								</h6>
							</div>
							<div class="entry-footer">
								<div class="entry-meta ">
									<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
									<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4 box-style-3">
			<div class="container">
				<div class="row">
					<div class="box-item">
						<span>Etiam rutrum ex vel sagittis lacinia !</span>
						<blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 05 -->
		<section class="box-content box-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="heading">
							<div class="intro">Lorem ipsum </div>
							<h2>Popular Beard Styles</h2>
						</div>
						<div class="gallery-section">
							<div class="row">
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/11.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/12.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/13.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/14.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/15.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/16.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/17.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-xs-6">
									<a class="portfolio-box" href="single.html">
										<img src="images/18.jpg" class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="heading">
							<div class="intro">Lorem ipsum </div>
							<h2>Check Our Top Prices</h2>
						</div>
						<div class="prices-section">
							<ul class="price-ul clearfix">
								<li class="price-list">
									<div class="price-title"> Trim your Beard </div>
									<div class="price-right"> from $15 </div>
								</li>
								<li class="price-list">
									<div class="price-title"> Wax your Beard </div>
									<div class="price-right"> from $15 </div>
								</li>
								<li class="price-list">
									<div class="price-title"> Trim your Beard </div>
									<div class="price-right"> from $15 </div>
								</li>
								<li class="price-list">
									<div class="price-title"> Special Beard Treatment </div>
									<div class="price-right"> from $15 </div>
								</li>
								<li class="price-list">
									<div class="price-title"> Color your Beard </div>
									<div class="price-right"> from $15 </div>
								</li>
								<li class="price-list">
									<div class="price-title"> Trim your Beard </div>
									<div class="price-right"> from $15 </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
		
	<footer>
		
		<div class="wrap-footer">
			<div class="container">
				<div class="row"> 
					<div class="col-footer footer-1 col-md-3">
						<h2 class="footer-title">About Us</h2>
						<div class="footer-content">
							Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non. Pellentesque rutrum. <br> <br> 
							<i class="fa fa-phone"> </i> (+386) 40 123 456 <br> 
							<i class="fa fa-envelope"> </i> info@barber.com  <br>
							<i class="fa fa-home"> </i> www.barber.com 
						</div>
					</div> 
					<div class="col-footer footer-2 col-md-3">
						<h2 class="footer-title">Recent Posts</h2>
						<div class="footer-content">
							<ul>
								<li><a href="#">MOST VISITED COUNTRIES</a></li>
								<li><a href="#">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
								<li><a href="#">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
								<li><a href="#">STARTUP COMPANY&#8217;S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
							</ul>
						</div>
					</div>
					<div class="col-footer footer-3 col-md-3">
						<h2 class="footer-title">OUR FLICKR</h2>
						<div class="footer-content">
							<div class="row">
								<div class="col-md-4 nopadding">
									<a href="#"><img src="images/11.jpg" /></a>
									<a href="#"><img src="images/12.jpg" /></a>
									<a href="#"><img src="images/10.jpg" /></a>
								</div>
								<div class="col-md-4 nopadding">
									<a href="#"><img src="images/13.jpg" /></a>
									<a href="#"><img src="images/14.jpg" /></a>
									<a href="#"><img src="images/15.jpg" /></a>
								</div>
								<div class="col-md-4 nopadding">
									<a href="#"><img src="images/16.jpg" /></a>
									<a href="#"><img src="images/17.jpg" /></a>
									<a href="#"><img src="images/18.jpg" /></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-footer footer-4 col-md-3">
						<h2 class="footer-title">Tag Cloud</h2>
						<div class="footer-content">
							<ul class="opening-times clearfix">
								<li>
									<span class="day"> Monday </span>
									<span class="time"> 08:00 - 15:00 </span>
								</li>
								<li>
									<span class="day"> Tuesday </span>
									<span class="time"> 10:00 - 16:00 </span>
								</li>
								<li>
									<span class="day"> Wednesday </span>
									<span class="time"> 08:00 - 15:00 </span>
								</li>
								<li>
									<span class="day"> Thursday </span>
									<span class="time"> 08:00 - 18:00 </span>
								</li>
								<li>
									<span class="day"> Friday </span>
									<span class="time"> 07:00 - 19:00 </span>
								</li>
								<li>
									<span class="day"> Saturday </span>
									<span class="time"> Closed </span>
								</li>
								<li>
									<span class="day"> Sunday </span>
									<span class="time"> Closed </span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="container">
				<div class="copyright text-center">
					<span>Copyright @ 20xx - Designed by <a href="https://www.Zerotheme.com">Zerotheme</a></span>
				</div>
			</div>
		</div> 
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="js/bootstrap.min.js"></script>
	
</body>
</html>